# Byte-compiled / optimized / DLL files
__pycache__/
#*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
#.Python
pyvenv.cfg
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
Lib/
include/
Include/
scripts/
Scripts/
lib64/
Lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST